.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(var(--color-gray-75), 0.9),
      hsla(var(--color-gray-65), 0.9)
    ),
    url(../../assets/images/clay-banks-8q6e5hu3Ilc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);

  &__text-box {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.heading-primary {
  color: hsl(var(--color-text));
  text-transform: uppercase;
  margin-bottom: 2rem;

  &--sup {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: moveInTop ease-in-out 1s;
  }

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1.8rem;
    animation: moveInRight 1.5s;
  }

  &--sub {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
    animation: moveInLeft 1.5s;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
