.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,

      var(--color-primary-0-a),
      var(--color-primary-1-a)
    ),
    url(../../assets/images/clay-banks-8q6e5hu3Ilc-unsplash.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);

  &__text-box {
    text-align: center;
  }
}

.heading-primary {
  color: var(--color-primary-4);
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 500;

  &--sup {
    display: block;
    font-size: 5rem;
    letter-spacing: 3rem;
    animation: moveInTop 1s;
    margin-bottom: 3rem;
  }

  &--main {
    display: block;
    font-size: 5rem;
    letter-spacing: 1.8rem;
    animation: moveInRight 1.5s;
    margin-bottom: 3rem;
  }

  &--sub {
    display: block;
    font-size: 5rem;
    letter-spacing: 0.8rem;
    animation: moveInLeft 1.5s;
    margin-bottom: 3rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
