.section {
  padding: 5rem 0;
  display: flex;
  width: 150rem;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &__title {
    text-align: center;
    font-size: 5rem;
    color: var(--color-primary-4);
    margin-bottom: 5rem;
  }
}
