.section {
  background-color: hsl(var(--color-gray-95));
  padding: 25rem 0;
  margin-top: -12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    text-align: center;
    font-size: 5rem;
  }
}
