@import "../../styles/";

.experience {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-0),
    var(--color-primary-1)
  );

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: stretch;
    gap: 1rem;

    @media only screen and (max-width: $bp-sm) {
      flex-direction: column;
    }
  }
}
