.tech-item {
  text-align: center;
  min-width: 10rem;
  border-radius: var(--default-border-radius);
  padding: 0.5rem;
  transition: all 0.3s;

  &__img {
    width: 5rem;
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 400;
  }

  &:hover {
    animation: zoomIn 0.3s;
    transform: scale(1.1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.1);
  }
}
