@use "../../styles/mixins/" as *;
@import "../../styles/variables/";

.about-me {
  background-image: linear-gradient(
    to bottom,
    var(--color-primary-1-a),
    var(--color-primary-0-a)
  );
  &__main {
    display: flex;
    margin-top: 2rem;
    font-size: var(--text-size);
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 2rem;
    width: 85%;

    &--col {
      width: 50%;
    }

    @media only screen and (max-width: $bp-sm) {
      flex-direction: column;
    }
  }
}
